<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.centexsdormitoryapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewMiniProject">
        <activity
            android:name=".TryCheckStatus"
            android:exported="false"/>
        <activity
            android:name=".ScanKit"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".StatusApproval"
            android:exported="false" />
        <activity
            android:name=".StatusDetails"
            android:exported="false" />
        <activity
            android:name=".CheckApplication"
            android:exported="false" />
        <activity
            android:name=".CheckStatus"
            android:exported="false" />
        <activity
            android:name=".ApplyOuting"
            android:exported="false" />
        <activity
            android:name=".ForgetActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".AdminRegister"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".StudentRegister"
            android:exported="false" />
        <activity
            android:name=".StudentLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>